@font-face {
    font-family: 'TradeGothic';
    src: url("font/TradeGothicLTStd-BdCn20.otf") format("opentype");
    font-weight: normal;
}

html {
    height: 100%;
}

h1, h3 {
    text-transform: uppercase;
    font-family: 'TradeGothic';
    font-size: 32px;
    letter-spacing: -0.75px;
}
h2, h4 {
    text-transform: uppercase;
    font-family: 'TradeGothic';
    font-size: 1.5em;
    /*letter-spacing: -0.75px;*/
}

p, div, header a {
    font-family: 'Didact Gothic';
    /*letter-spacing: 0.75px;*/
}


body {
    background: #000;
}

a { 
    color: #ddd;
}
p > a {
    text-decoration: underline;
}
a:hover, a:focus {
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.deep-bottom-space {
    padding-bottom: 20px;
}

.heading h1,
.heading h2 {
    margin: 0;
}
.heading {
    margin-bottom: 20px;
}

@media only screen and (min-width: 995px) {
    .heading {
        text-align: left;
        margin-bottom: 0;
    }
    .social-links {
        text-align: right;
    }
}
.well {
    margin-left: 1.6%;
    margin-right: 1.6%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    background-color: #0f445d;
    border: none;
    font-variant: small-caps;
    color: white;
}

.well h1 {
    margin-top: 1%
}

.well p {
    font-variant: normal;
    margin: 10px 10px;
    font-size: 1.25em;
}

.well-sm {
    padding: 19px 0 0;
    background-color: #0f445d;
}

.gridsys {
    margin: 0;
}

.glyphicon-size {
    height: 20px;
    font-size: 30px;
    text-decoration: none;
    width: auto;
}

.social-links li {
    display: inline-block;
    margin: 10px auto 0;
}

.social-links li a {
    display: table-cell;
    height: 40px;
    vertical-align: top;
    width: 60px;
}
.social-links a:hover,
.social-links a:active,
.social-links a:focus {
    text-decoration: none;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.10), 
                                                rgba(0, 0, 0, 0.50), 
                                                rgba(0, 0, 0, 0.75), 
                                                rgba(0, 0, 0, 0.50), 
                                                rgba(0, 0, 0, 0.10));
    margin-top: 0;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 4%;
}

.thumbnail {
    position: relative;
    padding: 0 1.6%;
    margin-bottom: 0;
    min-height: 330px;
    border: 0;
    border-radius: 0;
    color: #000;
}
    .thumbnail.yelpcamp a {
        color: #337ab7;
    }
    .thumbnail.colorgame a {}
    .thumbnail.keyboardplay a {
        color: #337ab7;
    }
    .thumbnail .move-bottom-size {
        font-family: 'TradeGothic';
        font-size: 1.5em;
        text-transform: uppercase;
    }

.colorgame {
    background-color: rgb(70, 130, 180);
    color: white;
}

.move-bottom-size {
    position: absolute;
    bottom: 0;
    font-size: 1.2em;
    padding-bottom: 15px;
}

.move-right {
    right: 15px;
}

footer {
   bottom: 0;
   height: 30px;
   width: 100%;
   color: rgb(256, 256, 256);
   text-align: center;
   margin: auto auto;
}
footer p {
   margin: 5px 0;
}
footer p a {
   color: blue;
}

@media only screen and (max-width: 995px) {
    .thumbnail {
        margin-bottom: 3%;
        min-height: 240px;
    }
}

@media only screen and (max-width: 995px) {
    .gridsys .thumbnail p {
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 420px) {
    .gridsys .thumbnail {
        margin-bottom: 3%;
        height: 350px;
    }
}